.appBar {
  position: static;
  background-color: purple;
}

.toolBar {
  display: flex;
  align-items: center;
  padding: 0.1rem 2rem 0.1rem 2rem;
}

.logo {
  height: 3rem;
  margin-right: 1rem;
  object-fit: contain;
  border-radius: 0.5rem;
}


.appTitle {
  flex-grow: 1;
}


.navStack {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}


.navButton {
  color: inherit;
}