:root {
  --primary-main-color: #FFA500; 
}

.post-container {
  display: flex;
  flex-direction: column;
  width: fit-content;
  padding: 0.5rem 2rem 0.5rem 2rem;
  background-color: var(--primary-main-color); 
  border-radius: 0.5rem;
}

.post-owner-name {
  text-align: center;
}

.post-content {
  text-align: center;
}

.comments-section {
  display: flex;
  justify-content: center;
}

.post-footer {
  margin-top: auto; 
  display: flex;
  justify-content: space-between;
}

.post-date {
  text-align: center;
}